data
.venv310
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class



# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/

models/*.pkl
models/*.h5
models/*.keras

# =========================
# Generated Artifacts
# =========================
artifacts/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Environment Variables
# =========================
.env

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# TensorFlow Checkpoints
# =========================
checkpoints/
*.ckpt

# =========================
# Cache
# =========================
.cache/